* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Montserrat", sans-serif;
  color: #6d708d;
  text-align: center;
  background: url(/images/bg-top.svg) #f6f6fe top left 250px/auto no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 0; }

.card__price-monthly {
  display: none; }

.header__title {
  font-size: 2rem; }

.header__toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0; }

.toggle {
  position: relative;
  display: inline-block;
  width: 4rem;
  height: 2rem;
  border-radius: 15px;
  background: linear-gradient(#a3a8f0, #696fdd);
  margin: 0 1rem; }
  .toggle-checkbox {
    display: none; }
  .toggle::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    top: 11%;
    left: 5%;
    height: 1.5rem;
    width: 1.5rem;
    background: #fff; }

.toggle-checkbox:checked + .toggle::after {
  left: 55%; }

.cards {
  width: 90%; }

.card {
  background: #fff;
  margin: 1.5rem 0;
  padding: 1.5rem;
  border-radius: 15px; }
  .card__title {
    font-size: 1.2rem; }
  .card__price {
    font-size: 4rem;
    color: #494c5f;
    padding: 1rem 0; }
    .card__price span {
      font-size: 2.5rem;
      vertical-align: middle; }
  .card__detail {
    list-style: none;
    padding: 1.3rem;
    border-bottom: 1px solid #b3b5c6; }
    .card__detail:first-child {
      border-top: 1px solid #b3b5c6; }
  .card__btn {
    width: 100%;
    margin: 2.5rem 0 1.5rem 0;
    padding: 1rem;
    border-radius: 10px;
    border: none;
    text-transform: uppercase;
    font-family: inherit;
    font-size: inherit;
    letter-spacing: 1px;
    background: linear-gradient(to right, #a3a8f0, #696fdd);
    color: #fff; }

.purple-card {
  background: linear-gradient(#a3a8f0, #696fdd);
  color: #fff; }
  .purple-card .card__price {
    color: inherit; }

.white-btn {
  background: #fff;
  color: #696fdd; }

@media (min-width: 750px) {
  .cards {
    display: flex;
    justify-content: center;
    align-items: normal; }
  .white-card {
    margin: 2rem 0; }
  .purple-card {
    display: flex;
    flex-direction: column;
    justify-content: center; } }
